#headerTitle1{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 0rem 0;
    margin: 0;
    font-size: 2.0rem;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
  }
  th{
    border: 1px solid #f7e7e7;
    text-align: left;
    padding: 8px; 
    background-color: #2793a1;
  }
  td {
    border: 1px solid #130e0e;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

   .buttonV{
    border-radius: 25px;
    width: 80%;
    height: 30px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(234, 235, 240);
  background: linear-gradient(135deg, rgb(122, 97, 180) 0%,     rgb(77, 143, 209) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    align-items: center;
  }
  
  button:hover{
    opacity: 0.8;
  }

  .rowV{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    max-width: 100%;
    
  }
  .commentButtonViewAll{
    position: absolute;
    top: 30%;
    right: 19%;
    width: 150px;
    height: 50px;
    outline:none;
    border-radius: 25px;
    background: rgb(234, 235, 240);
    background: linear-gradient(135deg, rgb(235, 233, 240) 0%,     rgb(98, 144, 190) 100%);
    transition: opacity 0.25s ease-out;
    border: 0px;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  }
  .searchTextFieldVB{
    position: relative;
    top: 28%;
    right: 25%;
    width: 600px;
    height: 55px;
    outline:none;
    box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(31, 50, 219, 0.2);
  transition: box-shadow 0.2s ease-in;
  border-radius: 20px;
  }

  .cards__items14 {
    
    align-content: center;
     margin: 0 1rem;
     border-radius: 10px;
     display: grid;
   grid-template-columns: repeat(4, minmax(375px, 1fr));
   grid-gap: 10px;
   min-width: 450px;
   color: rgb(234, 235, 240);
   }

   .cards123{
     align-content: center;
   }

   .cardImage{
       width: 270px;
       height: 155px;
   }
   .bodyOfCategoryBook{
      background-color:white;
   }
